footer {
  width: 100%;
  height: 25%;
  background-color: transparent;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #a4508b;
  margin-top: 1rem;
}

footer p {
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}
