{% extends 'base.html' %}


{% block content %}

  <!-- TOP NAVIGATION BAR -->
  {% include 'core/sections/navbar.html' %}

  <!-- BANNER -->
  {% include 'core/sections/banner.html' %}

  <hr class="separator">

  <!-- About -->
  {% include 'core/sections/about.html' %}

  <hr class="separator">

  <!-- Why Us -->
  {% include 'core/sections/whyus.html' %}

  <hr class="separator">

  <!-- Mentors -->
  {% include 'core/sections/mentors.html' %}

  <hr class="separator">

  <!-- Profiles -->
  {% include 'core/sections/profiles.html' %}

  <hr class="separator">

  <!-- Recruitors -->
  {% include 'core/sections/recruitors.html' %}

  <hr class="separator">
  
  <!-- Contact -->
  {% include 'core/sections/contact.html' %}

  <!-- Footer -->
  {% include 'core/sections/footer.html' %}


{% endblock content %}
