{% extends 'base.html' %}



{% block content %}


<div class="dash">

  <div class="dash-area dash-sidebar">

    <a class="dash-link" href="#">
      <div class="dash-btn">
        <p class="dash-link-text" >Profile</p>
      </div>
    </a>

    <a class="dash-link" href="#">
      <div class="dash-btn">
        <p class="dash-link-text" >Settings</p>
      </div>
    </a>


  </div>

  <div class="dash-area dash-content">
    {% block dashcontent %}
      <p>Content</p>
    {% endblock dashcontent %}
  </div>

</div>




{% endblock content %}
