{% extends 'base.html' %}



{% block content %}


<div class="dash">

  <div class="dash-area dash-sidebar">


    {% block dashlinks %}

    <a class="dash-link" href="{% url 'dashboard' %}">
      <div class="dash-btn dash-btn-active">
        <p class="dash-link-text" >Dashboard</p>
      </div>
    </a>

    <a class="dash-link" href="{% url 'edit-profile' %}">
      <div class="dash-btn">
        <p class="dash-link-text" >Profile</p>
      </div>
    </a>

    <a class="dash-link" href="#">
      <div class="dash-btn">
        <p class="dash-link-text" >Settings</p>
      </div>
    </a>

    {% endblock dashlinks %}

  </div>

  <div class="dash-area dash-content">
    {% block dashcontent %}

      <div class="dash-header">

          <img class="profile-photo" src="{{profile.profile_pic.url}}" alt="avatar">
          <div class="profile-info">
            <p>+91 {{profile.contact_number}}</p>
            <h1>{{profile.first_name}} {{profile.last_name}}</h1>
            <p>{{profile.user.email}}</p>
          </div>


      </div>


    {% endblock dashcontent %}
  </div>

</div>




{% endblock content %}
