{% extends 'base.html' %}


{% block content %}


<div class="form-main">

	<div class="form-container">
		<form class="form"  method="post"> {% csrf_token %}

			<legend class="form-legend"><h1>Create new password</h1></legend>


      <input type="password" class="form-element text-input" name="new_password1" placeholder="New password">
			{% if form.new_password1.errors %} <span class="error field-error">{{form.new_password1.errors}}</span> {% endif %}



      <input type="password" class="form-element text-input" name="new_password2" placeholder="Confirm password">
			{% if form.new_password2.errors %} <span class="error field-error">{{form.new_password2.errors}}</span> {% endif %}



			{% if form.non_field_errors %}
				<div >
					<span class="error non-field-error">{{form.non_field_errors}}</span>
				</div>
			{% endif %}


      <button type="submit" class="form-element submit-btn" name="button">Change Password</button>
		</form>
	</div>

</div>


{% endblock content %}
