{% extends 'base.html' %}


{% block content %}


<div class="form-main">

	<div class="form-container">
		<form class="form"  method="post"> {% csrf_token %}

			<legend class="form-legend"><h1>Reset Password</h1></legend>

			<input type="email" class="form-element text-input" name="email" placeholder="Email address">
			{% if form.email.errors %} <span class="error field-error">{{form.email.errors}}</span> {% endif %}


			<button type="submit" class="form-element submit-btn" name="button">Request Password Reset</button>
			<div class="help-links">
				<p><a class="help-link" href="{% url 'login' %}">Go Back</a></p>
			</div>

		</form>
	</div>

</div>

{% endblock content %}
