{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- GOOGLE FONTs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/whyus.css' %}">
    <link rel="stylesheet" href="{% static 'css/mentors.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'css/recruitors.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <!-- Profile Detail -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link rel="stylesheet" href="{% static 'css/profile_detail.css' %}">


    <!-- Auth Forms -->
    <link rel="stylesheet" href="{% static 'css/form.css' %}">





    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/54c063d6e6.js" crossorigin="anonymous"></script>


    <title>CUKPB</title>
  </head>
  <body>


    <div class="container">

      <!-- TOP NAVIGATION BAR -->
      {% include 'snippets/navbar.html' %}

      {% block content %}

      {% endblock content %}


      <!-- Footer -->
      {% include 'snippets/footer.html' %}

    </div>




    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>





  </body>
</html>
