.dash {
  background-color: purple;
  min-height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 1rem;
}


.dash-area {
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
}

.dash-sidebar {
  width: 300px;
  background-color: rgba(255,255,255, 0.5);

}


.dash-content {
  width: 900px;
  background-color: rgba(255,255,255, 0.1);



}
