.profiles {
  width: 100%;
  height: auto;
  background-color: #171717;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1.5rem;
  gap: 1rem;

}

.profile-header {
  padding: 1rem;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.profile-content {
  width: 90%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.profile-content a {
  width: 100%;
  text-decoration: none;
}

.profile-card {
  width: 100%;
  min-height: 4rem;
  color: black;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
}

.profile-card:hover {
  background-color: rgba(255,255,255,1);
}

.image-container {
  height: 4rem;
  width:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.image-container img {
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%;
}

#empty-message {
  font-size: 2rem;
  font-weight: lighter;
}
